In [44]:
import psycopg2
from psycopg2 import pool
import pandas as pd
import pandas.io.sql as psql
from Import.data_insertion import *


store_type_input = 'kroger_dillons'
transition_year = 2022
transition_season = 'SS'
current_year = 2022
current_week = 22

file = 'Sherlock Store Matrix'

# connection = psycopg2.connect(database=f"{store_type_input}", user="postgres", password="winwin", host="localhost")


# connection_pool = pool.SimpleConnectionPool(1, 10000, 
#                                             database= f"{store_type_input}", 
#                                             user="postgres", 
#                                             password="winwin", 
#                                             host="localhost")

# Read in new kroger sales data and then selects certain columns to a new df
old = pd.read_csv(f'{file}.csv', skiprows=16)
new = old[
    ['RPT_SHORT_DESC', 'RE_STO_NUM', 'UPC', 'SCANNED_RETAIL_DOLLARS', 'SCANNED_MOVEMENT', 'MFR_DESC', 'WEEK_NAME']]

# checking to see if items in sales report are only winwin products
new_len = len(new)

check = 'Pass'
i = 0

while i < new_len:
    MFR_check = new.loc[i, 'MFR_DESC']
    if MFR_check != 'WINWIN':
        check = "Fail"
        
    i += 1


# if check == "Pass":

#     # Extracts out the data for the store year and and store week
#     new[['store_year', 'name_of_code', 'cd', 'cd1', 'cd2', 'cd3', 'cd4', 'cd5', 'store_week']] = new[
#         "WEEK_NAME"].str.split(" ", 8, expand=True)

#     new = new[['RPT_SHORT_DESC',
#                'store_year',
#                'store_week',
#                'RE_STO_NUM',
#                'UPC',
#                'SCANNED_RETAIL_DOLLARS',
#                'SCANNED_MOVEMENT'
#                ]]

#     # Takes the numbers out for the RPT_SHORT_DESC collumn leaving only the Divison name ie ('35 Dallas' => 'Dallas')
#     new['store_week'] = new.store_week.str.extract('(\d+)')
#     new['RPT_SHORT_DESC'] = new.RPT_SHORT_DESC.str.replace('[^a-zA-Z]', '')
#     new['current_year'] = current_year
#     new['current_week'] = current_week

#     new['transition_year'] = f'{transition_year}'
#     new['transition_season'] = f'{transition_season}'

#     # Renames collumn names to approripate name for data insertion and update script
#     new = new.rename(columns={
#         'RPT_SHORT_DESC': 'store_type',
#         'RE_STO_NUM': 'store_number',
#         'UPC': 'upc',
#         'SCANNED_RETAIL_DOLLARS': 'sales',
#         'SCANNED_MOVEMENT': 'qty'
#     })

#     # reorganizes collumns to proper format for sales table
#     new = new[['transition_year',
#                'transition_season',
#                'store_year',
#                'store_week',
#                'store_number',
#                'upc',
#                'sales',
#                'qty',
#                'current_year',
#                'current_week',
#                'store_type']]

#     # converting division names into store_type for sales tables

#     divisions = new.store_type.unique().tolist()
#     division_len = len(divisions)

#     store_list = {
        
#         'Atlanta': 'kroger_atlanta',
#         'Cincinatti': 'kroger_cincinatti',
#         'Louisville': 'kroger_louisville',
#         'Nashville': 'kroger_nashville',
#         'Dillons': 'kroger_dillons',
#         'KingSoopers': 'kroger_king_soopers',
#         'Central': 'kroger_central',
#         'Columbus': 'kroger_columbus',
#         'Dallas': 'kroger_dallas',
#         'Delta': 'kroger_delta',
#         'Michigan': 'kroger_michigan'

#     }
    
    
#     # filter all of the data that pertains to the store_type_input
#     store_type = store_type_input
    
#     division =list(store_list.keys())[list(store_list.values()).index(store_type)]
    
#     print(division, store_type)
    
#     new_filt = new[new['store_type'] == division]
#     new_filt= new_filt.reset_index(drop=True)
#     new_filt['store_type'] = store_type

# return new_filt

In [17]:
#transform jewel program

import re
import pandas as pd
import datetime as dt
import psycopg2

import pandas.io.sql as psql

import numpy as np
from psycopg2.extensions import register_adapter, AsIs
psycopg2.extensions.register_adapter(np.int64, psycopg2._psycopg.AsIs)

store_type_input ='jewel'
file = '2022 Winwin Sales Data'
transition_date_range = '2022SS'
current_week = 20
current_year = 2022
connection = psycopg2.connect(database=f"{store_type_input}", user="postgres", password="winwin", host="localhost")    


old = pd.read_excel(f'{file}.xlsx', sheet_name='Product Scan', skiprows=1)

# inserting neccessary collumns for sales insert function
old['transition_date_range'] = transition_date_range
old['current_year'] = current_year
old['current_week'] = current_week

# grabbing the date to get the store year

date = old.iloc[0, 3]
store_year = date.year
old['store_year'] = store_year

# Grabs only the neccessary collumns and reformats them into the neccesary df format for the sale insertert function
old = old[['transition_date_range',
           'store_year',
           'Day',
           'Store',
           'UPC',
           'Sum Net Amount',
           'Sum Item Quantity',
           'current_year',
           'current_week',
           'Division']]

old = old.rename(columns={
    'Division': 'store_type',
    'Store': 'store_number',
    'UPC': 'upc',
    'Sum Net Amount': 'sales',
    'Sum Item Quantity': 'qty',
    'Day': 'store_week'
})

# extracting only the store division name from colllumn and then lower caseing it so it can pass the db security check
old['store_type'] = old.store_type.str.replace('[^a-zA-Z]', '')
old['store_type'] = old.store_type.str.lower()

# Find the last date in the db

date = psql.read_sql('select max(store_week) from sales', connection)
date = pd.Timestamp(date.iloc[0, 0])

old.head(50)

# sorts dates in order and then drops current week so current week can be added based on store_week
old = old.sort_values(by='store_week', ascending=True)

old = old.drop(columns=['current_week'])

# using that date select the data from that date to present day in the sales sheet.

filt = (old['store_week'] >= date)

old = old.loc[filt]

# uses to the dates from store_week and finds their week number they are on and converts data typed
old[['year', 'current_week', 'day']] = old['store_week'].dt.isocalendar()

old['current_week'] = old['current_week'].astype(np.int64)


#adding one to the current_week bc the data that was used from excel before we transition to the database was using the 
#the weeknum fucntion in excel. To stay consistent with the week numbers, I added one to each of the current week.
# After that, the if code that follows is checking to make sure the store_week num is between 1-52



old_len = len(old)

while i < old_len:

    store_week = old.iloc[i, 12]
    
    if store_week < 
    
    



# drops unneccesary collumns and reorders
# old = old.drop(columns=['year', 'day'])



# salesdata = old[['transition_date_range',
#                  'store_year',
#                  'store_week',
#                  'store_number',
#                  'upc',
#                  'sales',
#                  'qty',
#                  'current_year',
#                  'current_week',
#                  'store_type']]
# salesdata
old

C:\Users\User1\AppData\Local\Temp/ipykernel_3192/1059202128.py:55: FutureWarning: The default value of regex will change from True to False in a future version.
  old['store_type'] = old.store_type.str.replace('[^a-zA-Z]', '')

,transition_date_range,store_year,store_week,store_number,upc,sales,qty,current_year,store_type,year,current_week,day
10729,2022SS,2022,2022-05-22,3178,81031202372,39.98,2,2022,jewel,2022,21,7
10722,2022SS,2022,2022-05-22,2160,81031202374,19.99,1,2022,jewel,2022,21,7
10723,2022SS,2022,2022-05-22,3051,81031202441,19.99,1,2022,jewel,2022,21,7
10724,2022SS,2022,2022-05-22,3051,81031202065,7.99,1,2022,jewel,2022,21,7
10725,2022SS,2022,2022-05-22,3051,81031202369,7.99,1,2022,jewel,2022,21,7
...,...,...,...,...,...,...,...,...,...,...,...,...
10662,2022SS,2022,2022-05-22,3484,81031202447,79.96,4,2022,jewel,2022,21,7
10663,2022SS,2022,2022-05-22,4057,81031202366,23.97,3,2022,jewel,2022,21,7
10664,2022SS,2022,2022-05-22,4057,81031202368,0.00,0,2022,jewel,2022,21,7
10654,2022SS,2022,2022-05-22,3341,81031202418,19.99,1,2022,jewel,2022,21,7
10794,2022SS,2022,2022-05-22,4013,81031202373,19.99,1,2022,jewel,2022,21,7

In [44]:
#trying to fix week num problem for jewel

from datetime import datetime, timedelta

old = pd.read_excel('jewel_salesdata.xlsx')
old = old.drop(columns=['current_week'])


#creating a collumn where 1 day is subtracted so week num is calculated, weeknum starts from monday not sunday
old['start_date'] = old['store_week'] - timedelta(days=1)

old[['year', 'current_week', 'day']] = old['start_date'].dt.isocalendar()

old['current_week'] = old['current_week'] + 1

old = old.drop(columns =['year','day'])
# old.to_excel('jewel_replacement.xlsx', index = False)

old

# dateTimeInstance = datetime.datetime(2022, 1, 1)
# weeknum =dateTimeInstance.isocalendar()
# weeknum

,transition_date_range,store_year,store_week,store_number,upc,sales,qty,current_year,store_type,start_date,current_week
0,NaN,2021,2021-02-28,52,81031202046,6.99,1,2021,jewel,2021-02-27,9
1,NaN,2021,2021-02-28,185,81031202111,13.00,4,2021,jewel,2021-02-27,9
2,NaN,2021,2021-02-28,3084,81031202111,12.98,2,2021,jewel,2021-02-27,9
3,NaN,2021,2021-03-01,3426,81031202046,6.99,1,2021,jewel,2021-02-28,9
4,NaN,2021,2021-03-01,3426,81031202065,34.95,5,2021,jewel,2021-02-28,9
...,...,...,...,...,...,...,...,...,...,...,...
104063,2022SS,2022,2022-05-22,3191,81031202418,19.99,1,2022,jewel,2022-05-21,21
104064,2022SS,2022,2022-05-22,3191,81031202420,39.98,2,2022,jewel,2022-05-21,21
104065,2022SS,2022,2022-05-22,3741,81031202420,19.99,1,2022,jewel,2022-05-21,21
104066,2022SS,2022,2022-05-22,3770,81031202420,19.99,1,2022,jewel,2022-05-21,21
104067,2022SS,2022,2022-05-22,4013,81031202373,19.99,1,2022,jewel,2022-05-21,21

In [9]:
# code for updating support sheet

from psycopg2 import pool
import pandas as pd
import pandas.io.sql as psql
import datetime
from Import.data_insertion import *


from Sales_Report.Reports.reportsdata import *
year = 2022
week = 25
file='support_sheet'

store_type_input = 'kroger_central'

# store_setting = pd.read_excel(
#     rf'C:\Users\User1\OneDrive - winwinproducts.com\Groccery Store Program\{store_type_input}\{store_type_input}_store_setting.xlsm',
#     sheet_name='Sheet2',
#     header=None,
#     index_col=0,
#     names=('setting', 'values'))

connection = psycopg2.connect(database=f"{store_type_input}",
                                           user="postgres",
                                           password="winwin",
                                           host="localhost")

connection_pool = pool.SimpleConnectionPool(1, 10000, 
                                            database= f"{store_type_input}", 
                                            user="postgres", 
                                            password="winwin", 
                                            host="localhost")


# from store_info import Replenishment

# acme = Replenishment(store_type_input='acme',
#                      current_year = year , 
#                      current_week= week)

# acme.support_import('support_sheet')



itemsupport = pd.read_excel(f'{file}.xlsx')

update= 0
insert = 0

item_support = len(itemsupport)
i = 0

while i < item_support:

    season = itemsupport.loc[i, 'season']
    category = itemsupport.loc[i, 'category']
    type = itemsupport.loc[i, 'type']
    style = itemsupport.loc[i, 'style']
    additional = itemsupport.loc[i, 'additional']
    display_size = itemsupport.loc[i, 'display_size']
    pog_type = itemsupport.loc[i, 'pog_type']
    upc = itemsupport.loc[i, 'upc']
    code = itemsupport.loc[i, 'code']
    code_qb = itemsupport.loc[i, 'code_qb']
    unique_replen_code = itemsupport.loc[i, 'unique_replen_code']
    case_size = itemsupport.loc[i, 'case_size']
    item_group_desc = itemsupport.loc[i, 'item_group_desc']
    item_desc = itemsupport.loc[i, 'item_desc']
    packing = itemsupport.loc[i, 'packing']
    upc_11_digit = str(int(itemsupport.loc[i, 'upc_11_digit']))
    
    
    duplicate_check = psql.read_sql(f"""
                                        select * from item_support2
                                        where code = '{code}' 
                                        """, connection)

    
    if len(duplicate_check) == 1:
    
        
        item_support_update(season,
                        category,
                        type,
                        style,
                        additional,
                        display_size,
                        pog_type,
                        upc,
                        code,
                        code_qb,
                        unique_replen_code,
                        case_size,
                        item_group_desc,
                        item_desc,
                        packing,
                        upc_11_digit,
                        connection_pool)
        update+=1
    
    else:
          
        item_support_insert(season,
                            category,
                            type,
                            style,
                            additional,
                            display_size,
                            pog_type,
                            upc,
                            code,
                            code_qb,
                            unique_replen_code,
                            case_size,
                            item_group_desc,
                            item_desc,
                            packing,
                            upc_11_digit,
                            connection_pool)
        insert+=1
        print(code)
        
        
        
        
    i += 1
print(update,insert)

GMTXT100-AY
GMTXT110-AY
GMRA10210-AY
GMRA10215-AY
GMRA10216-AY
GMFTG100-FW
GMAKH1000-FW
LISDJ203-AY
LISDJ202-AY
LISDJ201-AY
LIODJ303-AY
LIODJ302-AY
LIODJ301-AY
GMXDJ110-AY
342 14

In [58]:
from psycopg2 import pool
import pandas as pd
import pandas.io.sql as psql
import datetime
from Import.data_insertion import *

from Sales_Report.Reports.reportsdata import ReportsData

store_type_input = 'kvat'

store_setting = pd.read_excel(
    rf'C:\Users\User1\OneDrive - winwinproducts.com\Groccery Store Program\{store_type_input}\{store_type_input}_store_setting.xlsm',
    sheet_name='Sheet2',
    header=None,
    index_col=0,
    names=('setting', 'values'))

connection = psycopg2.connect(database=f"{store_type_input}",
                                           user="postgres",
                                           password="winwin",
                                           host="localhost")

report = ReportsData(store_type_input, store_setting)
on_hand=report.on_hands()
on_hand


# finds all of the diffent items that are located in the store
unique_items= on_hand['item_group_desc'].unique()
A = pd.DataFrame(unique_items, columns=['item_group_desc'])


#Uses the items found at the store and finds the type of item it is (ie legging, Jegging, etc.)
item_type = psql.read_sql(f"""select distinct(item_group_desc), type from item_support2""", connection)

unique_item_type = A.merge(item_type, how='inner', on='item_group_desc')


#filters out only the items that are legging and jeggings
unique_item_type_filt = unique_item_type[(unique_item_type['type']=='Legging') | (unique_item_type['type']=='Jegging')]
unique_item_type_filt = unique_item_type_filt.reset_index(drop=True)

unique_item_type_filt  #LIST WILL BE USED LATER


#on hand table will be using this to add the sizes here
on_hand_size = on_hand #[['store','item_group_desc', 'on_hand']]
on_hand_size[['S-XL','2XL-3XL','S-M','L-XL','S-2XL','S-L','L-2XL']] = 0
on_hand_size= on_hand_size.set_index(['store','item_group_desc'])
on_hand_size

i=0

while i < len(unique_item_type_filt):


    #assigns the item to a variable and then searches the onhand table for that item using that variable
    item_group_desc = unique_item_type_filt.loc[i,'item_group_desc']

    on_hand_filt = on_hand[on_hand['item_group_desc']==f'{item_group_desc}']
    on_hand_store_item_filt = on_hand_filt.reset_index(drop=True)


    #takes that list of stores that have that particular item and then looks at each 
    #store and finds the  on hand for each item upc
    x=0
    while x < len(on_hand_store_item_filt):


        store = on_hand_store_item_filt.loc[x,'store']

        #SQL statement below produces a query that shows the on hands for a store for a particular items by size
        store_item_onhand_by_size =psql.read_sql(f"""

                        WITH

                            /*Finds deliveries for all stores and groups qty by upc and store*/
                            DELIV AS (
                                select STORE, DELIVERY2.UPC, DELIVERY2.CODE, QTY, ITEM_GROUP_DESC, UPC_11_DIGIT  
                                from DELIVERY2
                                INNER JOIN ITEM_SUPPORT2 ON ITEM_SUPPORT2.CODE = DELIVERY2.CODE),

                            /*Finds sales for all stores and groups qty by upc and store*/
                            SALES AS (
                                SELECT DISTINCT(ID), STORE_NUMBER, SALES2.UPC, QTY, ITEM_GROUP_DESC, CODE
                                from SALES2
                                INNER JOIN ITEM_SUPPORT2 ON ITEM_SUPPORT2.UPC_11_DIGIT = SALES2.UPC),

                            DELIV_ITEM AS (
                                SELECT DISTINCT(CODE), UPC_11_DIGIT, SUM(QTY)AS DELIV FROM DELIV
                                WHERE ITEM_GROUP_DESC = '{item_group_desc}' AND STORE = {store}
                                GROUP BY DELIV.CODE,UPC_11_DIGIT),

                            SALES_ITEM AS (
                                SELECT CODE, UPC, SUM(QTY) AS SALES FROM SALES
                                WHERE ITEM_GROUP_DESC = '{item_group_desc}' AND STORE_NUMBER = {store}
                                GROUP BY SALES.CODE, UPC)


                        SELECT size, (DELIV-SALES) AS ON_HAND FROM DELIV_ITEM
                        INNER JOIN SALES_ITEM ON DELIV_ITEM.CODE = SALES_ITEM.CODE
                        Inner join item_size on DELIV_ITEM.CODE = item_size.code

            """,connection)

        #Takes that query generated above and then assigns info to the final table
        y=0
        while y < len(store_item_onhand_by_size):

            size = store_item_onhand_by_size.loc[y,'size']
            size_on_hand = store_item_onhand_by_size.loc[y,'on_hand']
            on_hand_size.loc[(store, item_group_desc),f'{size}']= size_on_hand
            y+=1

        x+=1
    
    i+=1
on_hand_size= on_hand_size.reset_index()
on_hand_size.to_excel(f'{store_type_input}_size_buildup_report.xlsx', index=False)

In [46]:
on_hand_size.loc[292]

,on_hand,S-XL,2XL-3XL,S-M,L-XL,S-2XL,S-L,L-2XL
item_group_desc,,,,,,,,
PRINT - SSL,40.0,0,0,0,0,0,0,0
HIGH RISE ATHLETIC LEGGINGS,55.0,0,0,0,0,0,0,0
DENIM JEGGING,47.0,0,3,-2,9,0,0,0

In [42]:
for x in store_item_onhand_by_size:
    print(x)

size
on_hand

In [47]:
unique_item_type_filt

               item_group_desc     type
0                SPORT LEGGING  Legging
1                  PRINT - SSL  Legging
2  HIGH RISE ATHLETIC LEGGINGS  Legging
3                  SOLID - SSL  Legging
4                DENIM JEGGING  Jegging
5        PRINTED DENIM JEGGING  Jegging